/*
NanoBlogger - Rusoblanco Theme
Based on the classic rusoblanco.com design
*/

body {
margin:0px 0px 0px 0px;
background:#F3F3F3;
}

A { 
color: #222222; 
text-decoration: none; 
}

A:link { 
color: #000000; 
text-decoration: underline; 
font-weight:bold; 
}

A:visited { 
color: #222222; 
text-decoration: underline; 
font-weight:bold; 
}

A:active { 
color: #999999; 
text-decoration: underline; 
font-weight:bold; 
}

A:hover { 
color: #999999; 
text-decoration: underline; 
font-weight:bold; 
}

h1, h2, h3 {
margin: 0px;
padding: 0px;
}

h4, h5, h6 {
margin-top: 1.5em;
margin-bottom: -0.75em;
font-size: x-small;
}

blockquote {
background-color:#EEE;
padding:2mm;
border-left:5px solid #BBB;
}

pre {
overflow:auto;
background:#EEE;
padding: 2mm;
border:1px solid #999;
position: relative;
}

/* Code block with line numbers */
.highlight {
position: relative;
margin: 1em 0;
z-index: 1;
}

.highlight > div {
position: relative;
}

.highlight pre {
padding: 0.5em;
overflow-x: auto;
margin: 0;
background: #EEE;
border: 1px solid #999;
}

/* Line numbers styling */
.highlight .lntable {
border-spacing: 0;
padding: 0;
margin: 0;
border: 0;
width: 100%;
}

.highlight .lntd {
padding: 0;
margin: 0;
border: 0;
vertical-align: top;
}

.highlight .lnt,
.highlight .ln {
margin-right: 0.4em;
padding: 0 0.4em;
color: #666;
user-select: none;
-webkit-user-select: none;
}

.highlight .lntd:first-child {
width: 1%;
min-width: 50px;
background-color: #f5f5f5;
border-right: 1px solid #ccc;
}

.highlight .lntd:first-child pre {
background-color: #f5f5f5;
}

/* Copy button styling */
.copy-button {
position: absolute;
top: 8px;
right: 8px;
padding: 4px 8px;
font-size: 10px;
font-family: verdana, arial, sans-serif;
background: #f5f5f5;
border: 1px solid #999;
border-radius: 3px;
cursor: pointer;
opacity: 0.8;
transition: opacity 0.2s;
z-index: 10;
}

.copy-button:hover {
opacity: 1;
background: #e5e5e5;
}

.copy-button:active {
background: #d5d5d5;
}

.copy-button.copied {
background: #90EE90;
border-color: #6B8E23;
}

#banner {
font-family: verdana, arial, sans-serif;
background-color:#111111;
font-size:large;
font-weight:normal;
text-align:left;
padding:15px;
border-top:1px dotted #999;
border-bottom:1px dotted #999;
}

#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
font-family: verdana, arial, sans-serif;
font-size: large;
color: #FFF;
text-decoration: none;
font-weight: normal;
}

.description {
font-family: verdana, arial, serif;
color:#FFF;
font-size:small;
font-weight:bold;
text-transform:lowercase;
}

#content {
float: left;
width: 72%;
margin-right:0px;
padding-bottom:10px;
}

#container {
border:1px solid #FFF;
}

#links {
float: right;
padding-right:21px;
padding-left:15px;
margin-left:0px;
margin-right:0px;
padding-bottom:20px;
border-left: 1px dotted #999;
border-bottom:1px dotted #999;
width:20%;
}

.blog {
width:84%;
padding:15px;
}

.item {
margin-bottom: 2em;
}

.blogbody {
font-family: verdana, arial, sans-serif;
color:#333;
font-size:small;
font-weight:normal;
line-height:120%;
}

.blogbody h2,
.blogbody h3,
.blogbody h4,
.blogbody h5,
.blogbody h6 {
text-align: left;
}

.blogbody h2 {
margin-top: 1.5em;
margin-bottom: 0.5em;
}

.blogbody h3 {
margin-top: 1.5em;
margin-bottom: 0.5em;
}

.blogbody h4 {
margin-top: 1.5em;
margin-bottom: 0.5em;
font-size: medium;
color: #666;
}

.blogbody h5,
.blogbody h6 {
margin-top: 1.5em;
margin-bottom: 0.5em;
}

.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover {
font-weight: normal;
text-decoration: underline;
}

.title {
font-family: verdana, arial, sans-serif;
font-size: small;
text-transform:uppercase;
color: #222222;
margin-bottom:15px;
}

#menu,
.menu {
font-family:verdana, arial, sans-serif;
font-size: small;
margin-bottom:15px;
text-align:center;
}

.date {
font-family:verdana, arial, sans-serif; 
font-size: small; 
color: #666; 
border-bottom:1px solid #999;
margin-bottom:10px;
font-weight:bold;
}

.posted {
font-family:verdana, arial, sans-serif; 
font-size: x-small; 
color: #000000; 
margin-bottom:25px;
}

.calendar {
font-family:verdana, arial, sans-serif;
color:#222222;
font-size:x-small;
font-weight:normal;
line-height:150%;
padding:2px;
text-align:left;
}

.calendar a,
.calendar a:link,
.calendar a:active,
.calendar a:hover {
font-weight: bold;
text-decoration: underline;
}

.calendarhead {
font-family:verdana, arial, sans-serif;
color:#222222;
font-size:small;
font-weight:bold;
padding:2px;
letter-spacing: .3em;
text-transform:uppercase;
text-align:center;
border-bottom: 1px solid #999;
}

.calendarday {
font-weight:bold;
text-align:center;
color:#FF0000;
}

.side {
font-family:verdana, arial, sans-serif;
color:#333;
font-size:x-small;
font-weight:normal;
line-height:150%;
padding:2px;
}

.sidetitle {
font-family:verdana, arial, sans-serif;
color:#222222;
font-size:small;
font-weight:normal;
padding:2px;
margin-top:10px;
letter-spacing: .1em;
border-bottom:1px dotted #999;
text-align:center;
text-transform:lowercase;
}

.syndicate {
font-family:verdana, arial, sans-serif;
font-size:xx-small;
line-height:150%;
padding:2px;
margin-top:10px;
text-align:center;
background:#EEE;
}

.powered {
font-family:verdana, arial, sans-serif;
color:#666;
font-size:xx-small;
font-weight:bold;
border-top:1px solid #CCC;
border-bottom:1px solid #CCC;
line-height:150%;
text-transform:uppercase;
padding:2px;
margin-top:10px;
text-align:center;
letter-spacing: .2em;
}

.intro {
font-family: verdana, arial, sans-serif;
border-bottom:1px solid #222222;
background:#FFF;
color:#333;
font-size:x-small;
font-weight:normal;
line-height:140%;
padding:10px;
margin-bottom:45px;
}

.intro a,
.intro a:link,
.intro a:visited,
.intro a:active,
.intro a:hover {
font-weight: normal;
text-decoration: underline;
color:#333;
}

.archives {
padding: 15px;
}

.archives h2 {
color: #222222;
text-align: left;
margin-bottom: 1em;
}

.archives #menu {
margin-bottom: 2em;
}

.archives strong {
color: #222222;
}

.comments-body {
font-family:verdana, arial, sans-serif;
color:#666;
font-size:small;
font-weight:normal;
line-height:120%;
padding-bottom:10px;
padding-top:10px;
border-bottom:1px dotted #999;
}

.comments-post {
font-family:verdana, arial, sans-serif;
color:#666;
font-size:x-small;
font-weight:normal;
}

.comments-head {
font-family:verdana, arial, sans-serif;
font-size:small;
color: #666;
border-bottom:1px solid #999;
margin-top:20px;
font-weight:bold;
}

/* Retro table styling - only for content tables, not calendar */
.blogbody table,
.item-description table {
  font-family: verdana, arial, sans-serif;
  font-size: small;
  border-collapse: collapse;
  border: 2px solid #000;
  background: #FFF;
  margin: 1em 0;
  width: auto;
}

.blogbody table th,
.item-description table th {
  background: #000;
  color: #FFF;
  font-weight: bold;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: x-small;
}

.blogbody table td,
.item-description table td {
  padding: 6px 12px;
  border: 1px solid #999;
  background: #FFF;
}

.blogbody table tr:nth-child(even) td,
.item-description table tr:nth-child(even) td {
  background: #F3F3F3;
}

.blogbody table tr:hover td,
.item-description table tr:hover td {
  background: #EEE;
}

/* Alternate retro style: dotted borders */
.blogbody table.dotted,
.item-description table.dotted {
  border: 2px dotted #666;
}

.blogbody table.dotted th,
.item-description table.dotted th {
  background: #666;
  border: 1px dotted #999;
}

.blogbody table.dotted td,
.item-description table.dotted td {
  border: 1px dotted #BBB;
}

/* Compact table style */
.blogbody table.compact,
.item-description table.compact {
  font-size: x-small;
}

.blogbody table.compact th,
.blogbody table.compact td,
.item-description table.compact th,
.item-description table.compact td {
  padding: 4px 8px;
}

/* Responsive design - mobile and tablet devices */
@media screen and (max-width: 768px) {
  /* Stack layout vertically */
  #content {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  
  #links {
    float: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    border-left: none;
    border-top: 1px dotted #999;
  }
  
  .blog {
    width: auto;
    padding: 10px;
  }
  
  /* Reduce banner padding on mobile */
  #banner {
    padding: 10px;
  }
  
  /* Make tables horizontally scrollable */
  .blogbody table,
  .item-description table {
    display: block;
    overflow-x: auto;
    width: 100%;
  }
  
  /* Adjust pre/code blocks for mobile */
  pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }
  
  .highlight pre {
    overflow-x: auto;
  }
}

/* For very small screens */
@media screen and (max-width: 480px) {
  #banner {
    font-size: medium;
    padding: 8px;
  }
  
  #banner a,
  #banner a:link,
  #banner a:visited,
  #banner a:active,
  #banner a:hover {
    font-size: medium;
  }
  
  .blog {
    padding: 8px;
  }
  
  .blogbody {
    font-size: x-small;
  }
  
  /* Make copy button smaller on mobile */
  .copy-button {
    font-size: 9px;
    padding: 3px 6px;
    top: 4px;
    right: 4px;
  }
}
