{{ define "main" }}
<a id="top"></a>
<div class="blog">
  <h2 class="date">{{ .Title }}</h2>
  {{ range .Pages }}
  <div class="item">
    <div class="blogbody">
      <h3 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div class="posted">
        {{ .Date.Format "January 2, 2006 3:04 PM" }}
        {{ with .Params.categories }}
         | Filed under: 
        {{ range $index, $category := . }}
          {{ if gt $index 0 }}, {{ end }}
          <a href="{{ "/categories/" | relURL }}{{ $category | urlize }}/">{{ $category }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  <div class="menu">
    {{ if .Paginator }}
      {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">« Newer</a>
      {{ end }}
      {{ if and .Paginator.HasPrev .Paginator.HasNext }} | {{ end }}
      {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">Older »</a>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
