{{ define "main" }}
<a id="top"></a>
<div class="blog">
  <article class="item">
    <header>
      <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      <h1 class="title">{{ .Title }}</h1>
    </header>
    <div class="blogbody">
      <a id="{{ .File.BaseFileName }}"></a>
      <div class="item-description">
        {{ .Content }}
      </div>
    </div>
    <footer class="posted">
      <br />
      Posted by <span class="item-creator">{{ .Site.Params.author | default "Author" }}</span> | 
      <a class="link" href="{{ .RelPermalink }}">Permanent link</a>
      {{ with .Params.categories }}
       | Filed under: 
      {{ range $index, $category := . }}
        {{ if gt $index 0 }}, {{ end }}
        <a href="{{ "/categories/" | relURL }}{{ $category | urlize }}/">{{ $category }}</a>
      {{ end }}
      {{ end }}
    </footer>
  </article>
</div>
{{ end }}
