{{ define "main" }}
<a id="top"></a>
<div class="blog">
  <div class="item">
    <h2 class="date">{{ .Date.Format "January 2, 2006 3:04 PM" }}</h2>
    <div class="blogbody">
      <a id="{{ .File.BaseFileName }}"></a>
      <h3 class="title">{{ .Title }}</h3>
      <div class="item-description">
        {{ .Content }}
      </div>
    </div>
    <div class="posted">
      <br />
      Posted by <span class="item-creator">{{ .Site.Params.author | default "Author" }}</span> | 
      <a class="link" href="{{ .RelPermalink }}">Permanent link</a>
      {{ with .Params.categories }}
       | Filed under: 
      {{ range $index, $category := . }}
        {{ if gt $index 0 }}, {{ end }}
        <a href="{{ "/categories/" | relURL }}{{ $category | urlize }}/">{{ $category }}</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
