{{ define "main" }}
<a id="top"></a>
{{ with .Site.Params.intro }}
<div class="intro">
  {{ . | markdownify }}
</div>
{{ end }}
<div class="blog">
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range (.Paginate $pages).Pages }}
  <article class="item">
    <a id="{{ .File.BaseFileName }}"></a>
    <header>
      <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </header>
    <div class="blogbody">
      <div class="item-description">
        {{ .Summary }}
        {{ if .Truncated }}
        <p><a href="{{ .RelPermalink }}">Read more...</a></p>
        {{ end }}
      </div>
    </div>
    <footer class="posted">
      <br />
      Posted by <span class="item-creator">{{ .Site.Params.author | default "Author" }}</span> | 
      <a class="link" href="{{ .RelPermalink }}">Permanent link</a>
      {{ with .Params.categories }}
       | Filed under: 
      {{ range $index, $category := . }}
        {{ if gt $index 0 }}, {{ end }}
        <a href="{{ "/categories/" | relURL }}{{ $category | urlize }}/">{{ $category }}</a>
      {{ end }}
      {{ end }}
    </footer>
  </article>
  {{ end }}
  <nav class="menu" aria-label="Pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">« Newer</a>
    {{ end }}
    {{ if and .Paginator.HasPrev .Paginator.HasNext }} | {{ end }}
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">Older »</a>
    {{ end }}
  </nav>
</div>
{{ end }}
